/* To differenciate the admin from the customer design, the admin design has the primary colours inverted, so orange is the major colour instead of blue */
:root{
    --primaryOrange: #00aced;
    --primaryBlue: #ff690c;
    --secondaryBlue: #d66926;
}

.topBar{
    line-height: 3.375em;
}

.topBar > .wrapper{
    position: relative;
}

span.account{
    cursor: pointer;
}

.accountPopup{
    display: none;
}

.accountPopup.open{
    display: initial;
}

.topBar > .wrapper .accountPopup{
    position: absolute;
    padding: 1em 0.5em;
    top: 120%;
    right: 0;
    background-color: var(--secondaryBlue);
    z-index: 2;
}

.topBar > .wrapper .accountPopup::before{
    content: "";
    top: -2em;
    left: 20%;
    position: absolute;
    border: 1em solid transparent;
    border-bottom-color: var(--secondaryBlue);
}

.topBar > .wrapper .accountPopup > ul{
    margin: 0;
    padding: 0;
}

.topBar > .wrapper .accountPopup > ul > li{
    display: block;
    padding: 0.5em 1em;
}

.topBar > .wrapper .accountPopup > ul > li:not(:last-of-type){
    border-bottom: 1px solid #00000022;
}

.overlay.modalOpen{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

section.itemSearch > h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.itemSearch > h2 > .editCategory{
    margin-right: 1em;
    font-size: 1.25em;
    background-color: transparent;
    border-color: transparent;
    color: white;
}

section.itemSearch > h2 > .editCategory:active{
    color: #ccc;
}

.contextMenu{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: var(--secondaryBlue);
    padding: 1em 0.5em;
}

.contextMenu::before{
    content: "";
    position: absolute;
    left: -1em;
    border: 0.5em solid transparent;
    border-right-color: var(--secondaryBlue);

}

.contextMenu > ul{
    padding: 0;
    margin: 0;
}

.contextMenu > ul > li{
    padding: 0.5em 1em;
    display: block;
}

.contextMenu > ul > li:not(:last-of-type){
    border-bottom: 1px solid #00000022;
}

.contextMenu > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 0.875em;
}

.contextMenu.active{
    display: block;
}

@media only screen and (min-width: 450px){
    .topBar{
        line-height: normal;
    }


}