@import url("animations.css");

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#186fe7, #0b4b9e);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form *{
    -webkit-appearance: none;   /* Disable default static styling of forms by browsers */
}

.root{
    background-color: white;
    padding: 3em 1em;
    min-height: 500px;
    width: 90%;
    border-radius: 3em;
    opacity: 0;
    animation: fadeIn 1s ease-in 0.25s;
    animation-fill-mode: forwards;
}

fieldset{
    max-width: 300px;
    margin: auto;
}

.formInput > *[required] + label::after{
    content: "";
}

.errorMessage{
    display: block;
    padding: 1em;
    background-color: #eee;
    border-radius: 1em;
    margin-bottom: 1em !important;
}

@media only screen and (min-width: 450px){
    .root{
        width: 650px;
    }

    .root > :not(:first-child){
        width: 60%;
        margin: auto;
    }

    fieldset{
        max-width: none;
    }
}